<template>
  <div class="home">
    <ProductForm />
  </div>
</template>

<script>
// @ is an alias to /src
import ProductForm from '@/components/ProductForm'

export default {
  name: 'Home',
  components: {
    ProductForm
  }
}
</script>
