<template>
    <div class="userForm__wrapper mb-4">
        <v-btn
            text
            small
            color="primary"
            @click="isVisibleForm = !isVisibleForm"
        >
            {{ getTitleButton }} Adress
        </v-btn>
        <div class="userForm__inner col-sm-6 col-12 mx-auto" v-show="isVisibleForm">
            <v-form 
                ref="form"
                v-model="valid" 
                @submit.prevent="onSubmit"
            >
                <v-container>
                    <v-col>
                        <v-text-field
                            v-model="adress.name"
                            :rules="nameRules"
                            :counter="15"
                            label="Name"
                            required
                        ></v-text-field>
                    </v-col>

                    <v-col>
                        <v-text-field
                            :rules="cityRules"
                            v-model="adress.city"
                            :counter="15"
                            label="City"
                            required
                        ></v-text-field>
                    </v-col>

                    <v-col>
                        <v-text-field
                            v-model="adress.streetName"
                            label="Street Name"
                            :rules="[v => !!v || 'Street Name is required']"
                            required
                        ></v-text-field>
                    </v-col>

                    <v-col>
                        <v-text-field
                            v-model="adress.streetNum"
                            label="Street Number"
                            :rules="[v => !!v || 'Street Number is required']"
                            required
                        ></v-text-field>
                    </v-col>

                    <v-col>
                        <v-text-field
                            v-model="adress.apartment"
                            label="Apartment"
                            :rules="[v => !!v || 'Apartment is required']"
                            required
                        ></v-text-field>
                    </v-col>

                    <v-col>
                        <v-text-field
                            v-model="adress.floor"
                            label="Floor"
                            :rules="[v => !!v || 'Floor is required']"
                            required
                        ></v-text-field>
                    </v-col>

                    <v-col>
                        <v-text-field
                            v-model="adress.phone"
                            label="Phone"
                            :rules="[v => !!v || 'Phone is required']"
                            required
                        ></v-text-field>
                    </v-col>

                    <v-col>
                        <v-text-field
                            v-model="adress.phoneExtra"
                            label="PhoneExtra"
                        ></v-text-field>
                    </v-col>

                    <v-col>
                        <v-text-field
                            v-model="adress.price"
                            label="Price"
                            :rules="[v => !!v || 'Price is required']"
                            required
                        ></v-text-field>
                    </v-col>
                </v-container>
                <v-btn 
                    :disabled="!valid || !!getAddress"
                    color="success"
                    type="submit">
                    Save
                </v-btn>

                <v-btn 
                    color="error"
                    class="ml-4"
                    @click="reset">
                    Reset
                </v-btn>
            </v-form>
        </div>
    </div>
</template>

<script>

const defaultAdress = () => ({
    name: '',
    city: '',
    streetName: '',
    streetNum: '',
    apartment: '',
    floor: '',
    phone: '',
    phoneExtra: '',
    price: ''
})

export default {
    data() {
        return {
            isVisibleForm: false,
            adress: defaultAdress(),
            valid: false,
            nameRules: [
                v => !!v || 'Name is required',
                v => (v && v.length) <= 15 || 'Name must be less than 15 characters'
            ],
            cityRules: [
                v => !!v || 'City is required',
                v => (v && v.length) <= 15 || 'Name must be less than 15 characters'
            ],
        }
    },
    computed: {
        getTitleButton() {
            return this.isVisibleForm ? 'Hide' : 'Add'
        },
        getAddress() {
            return this.$store.getters.getAddress
        }
    },
    methods: {
        validate() {
            this.$refs.form.validate()
        },
        reset() {
            this.$refs.form.reset()
        },
        onSubmit() {
            if (this.getAddress) return
            this.$store.dispatch('addAdress', this.adress)
        }
    }
}
</script>