<template>
    <div class="productOrder col-sm-6 col-12 mx-auto">
        <h2 class="text-center mb-4">Products</h2>
        <v-form class="productOrder__inner text-center"
            v-show="isVisibleForm"
            @submit.prevent="onSubmit">
            <v-container>
                <v-col class="d-flex col-12">
                    <v-select
                        :items="productOptions"
                        label="Product"
                        menu-props="offset-y"
                        v-model="item.product"
                        ></v-select>
                </v-col>

                <v-btn
                    small
                    color="blue"
                    class="mb-4"
                    @click="isVisibleField = !isVisibleField">
                    {{ getTitleButton }}
                </v-btn>

                <v-col class="d-flex col-12"  v-if="isVisibleField">
                    <v-select
                    :items="productTypeOptions"
                    label="New Type"
                    menu-props="offset-y"
                    v-model="item.productType"
                    ></v-select>
                </v-col>

                <v-col class="col-4 mx-auto">
                    <v-text-field
                        v-model="item.amount"
                        label="Amount"
                    ></v-text-field>
                </v-col>

                <div>Tooltip</div>
                <v-col class="col-4 mx-auto">
                    <v-text-field v-model="item.tooltip"></v-text-field>
                </v-col>
            </v-container>
            <v-btn
                type='submit'
                color='primary'
                :disabled="!valid"
            >Add line to order</v-btn>
        </v-form>

        <v-col v-for="(product, index) in products" :key='index' class="d-flex col-sm-6 col-12 mx-auto">
            <v-btn
                depressed
                color="primary">
                {{ product.product }} 
                {{ product.productType }} 
                {{ product.amount }} 
                {{ product.tooltip }}
            </v-btn>
            <v-btn 
                depressed
                color="error"
                @click='deleteOrder(product)'>
                <v-icon>X</v-icon>
            </v-btn>
        </v-col>

        <v-col>
            <v-btn 
                @click="isVisibleForm = true"
                v-if="!isVisibleForm">
                Add new line +
            </v-btn>
        </v-col>
        
    </div>
</template>

<script>
import axios from 'axios'

const defaultOrder = () => ({
    product: '',
    productType: '',
    amount: '',
    tooltip: ''
})

export default {
    name: 'ProductOrder',
    data() {
        return {
            item: defaultOrder(),
            valid: true,
            isVisibleField: false,
            isVisibleForm: true,
            productOptions: [],
            productTypeOptions: []
        }
    },
    computed: {
        products () {
            return this.$store.state.productOrder
        },
        getTitleButton() {
            return this.isVisibleField ? 'Hide' : 'Show'
        }
    },
    methods: {
        async getProducts() {
            let response = await axios.get('https://api-test.cloudareus.com/api/products')
            let responseOptions = response.data['hydra:member'] || []

            for (let option of responseOptions) {
                this.productOptions.push(option.name)
            }
        },
        async getProductsType() {
            let response = await axios.get('https://api-test.cloudareus.com/api/product_types')
            let responseOptions = response.data['hydra:member'] || []

            for (let option of responseOptions) {
                this.productTypeOptions.push(option.name)
            }
        },
        onSubmit() {
            this.$store.dispatch('addOrder', this.item)
            this.item = defaultOrder()
            this.isVisibleForm = false
        },
        deleteOrder(p) {
            this.$store.dispatch('deleteByOrder', p.product)
        },
    },
    created() {
        this.getProducts()
        this.getProductsType()
    },
}
</script>