<template>
  <v-container class="formBlock__wrapper">
    <v-form 
      refs="mainForm" 
      @submit.prevent="onSubmit"
      v-model='valid'
      class="formBlock__inner text-center"
    >
      <v-container>
        <v-col class="d-flex col-sm-6 col-12 mx-auto">
          <v-select
            label="Type"
            :items="productTypeOptions"
            menu-props="offset-y"
            :rules="[v => !!v || 'Type is required']"
            required
            @change="changeType"
          ></v-select>
        </v-col>

        <v-col class="d-flex col-sm-6 col-12 mx-auto">
          <v-select
            label="Customer"
            :items="customerOptions"
            menu-props="offset-y"
            :rules="[v => !!v || 'Customer is required']"
            required
            @change="changeCustomer"
          ></v-select>
        </v-col>

        <AdressForm />

        <ProductOrder />
      </v-container>

      <v-col class="d-flex justify-center col-sm-6 col-12 mx-auto ">
        <label class="d-flex align-center">
          <div class="mr-3">? are you shure to submit this order</div>
          <input v-model="sureToSubmit" type="checkbox" name="order" required>
        </label>
      </v-col>

      <v-btn 
        :disabled="isDisabled"
        color="success"
        type="submit" 
       >
        Submit Form
      </v-btn>
    </v-form>
    
  </v-container>
</template>

<script>

import axios from 'axios'
import { mapGetters } from 'vuex'
import AdressForm from './AdressForm'
import ProductOrder from './ProductOrder'

export default {
  name: 'FormBlock',
  data() {
    return {
      valid: false,
      type: null,
      sureToSubmit: false,
      customer: null,
      customerOptions: [],
      productTypeOptions: []
    }
  },
  computed: {
    ...mapGetters({
      getAddress: 'getAddress',
      getProductOrders: 'getProductOrders'
    }),

      isAddress() {
        return typeof this.getAddress === 'object' && this.getAddress !== null
      },
      isDisabled() {
        return !this.valid || !this.isAddress || !this.sureToSubmit || this.getProductOrders.length === 0
      }
  },
  created() {
    this.getCustomers()
    this.getProductsType()
  },
  methods: {
    async getCustomers() {
      let response = await axios.get('https://api-test.cloudareus.com/api/customers').catch(error => console.error(error))
      if(!response) return false
      let responseOptions = response.data['hydra:member'] || []

      for (let option of responseOptions) {
        this.customerOptions.push(option.name)
      }
    },
    async getProductsType() {
      let response = await axios.get('https://api-test.cloudareus.com/api/product_types').catch(error => console.error(error))
      if(!response) return false
      let responseOptions = response.data['hydra:member'] || []

      for (let option of responseOptions) {
        this.productTypeOptions.push(option.name)
      }
    },
    validate() {
      this.$refs.mainForm.validate()
    },
    onSubmit() {
      const result = {
        type: this.type,
        customer: this.customer,
        address: this.getAddress,
        productOrder: this.getProductOrders
      }

      console.table(result)
    },
    changeType(type) {
      this.type = type
    },
    changeCustomer(customer) {
      this.customer = customer
    }
  },
  components: {
    AdressForm,
    ProductOrder
  }
  
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
  p {
    color: black;
  }
</style>
