<template>
  <v-app>
    <v-main>
      <ProductForm/>
    </v-main>
  </v-app>
</template>

<script>
import ProductForm from './components/ProductForm';

export default {
  name: 'App',

  components: {
    ProductForm,
  },

  data: () => ({
    //
  }),
};
</script>
